/* -----------------------------------------------------------------------------------------
 File: all_byte_offsets_test.sv
 Description: Test class for seq_all_byte_offsets
 ----------------------------------------------------------------------------------------- */

class all_byte_offsets_test extends base_test;
    `uvm_component_utils(all_byte_offsets_test)

    function new(string name = "all_byte_offsets_test", uvm_component parent = null);
        super.new(name, parent);
    endfunction

    virtual task run_phase(uvm_phase phase);
        seq_all_byte_offsets seq;
        seq = seq_all_byte_offsets::type_id::create("seq");
        phase.raise_objection(this);
        seq.start(env.agent.sequencer);
        phase.drop_objection(this);
    endtask
endclass
