/* -----------------------------------------------------------------------------------------
 File: bank_boundary_test.sv
 Description: Test class for seq_bank_boundary
 ----------------------------------------------------------------------------------------- */

class bank_boundary_test extends base_test;
    `uvm_component_utils(bank_boundary_test)

    function new(string name = "bank_boundary_test", uvm_component parent = null);
        super.new(name, parent);
    endfunction

    virtual task run_phase(uvm_phase phase);
        seq_bank_boundary seq;
        seq = seq_bank_boundary::type_id::create("seq");
        phase.raise_objection(this);
        seq.start(env.agent.sequencer);
        phase.drop_objection(this);
    endtask
endclass
