/* -----------------------------------------------------------------------------------------
 File: reset_write_test.sv
 Description: Test class for seq_reset_write
 ----------------------------------------------------------------------------------------- */

class reset_write_test extends base_test;
    `uvm_component_utils(reset_write_test)

    function new(string name = "reset_write_test", uvm_component parent = null);
        super.new(name, parent);
    endfunction

    virtual task run_phase(uvm_phase phase);
        seq_reset_write seq;
        seq = seq_reset_write::type_id::create("seq");
        phase.raise_objection(this);
        seq.start(env.agent.sequencer);
        phase.drop_objection(this);
    endtask
endclass
